# Ignore all files in the repository
*

# Except for the following files and directories
!.gitignore
!README.md
!LICENSE
!Makefile
!Makefile.dev
!commit-msg
!pre-commit
!pre-push
!pre-push.old
!pre-push
!setup-hooks.sh
!uninstall-hooks.sh
!Dockerfile
!.env-template
!.dockerignore
!*/
!.*/
!*.py
!*.yml
!*.txt
!*.conf
!*.toml
!*.ini


# Ignore specific directories
.venv