# Ignore all files in the repository
*

# Except for the following files and directories
!.gitignore
!README.md
!LICENSE
!Makefile
!Makefile.dev
!commit-msg
!pre-push
!pre-commit
!Dockerfile
!.env-template
!.dockerignore
!.ruff.toml
!*/
!.*/
!*.py
!*.yml
!*.txt
!*.conf
!*.sh

# Ignore specific directories
.venv